@mixin margin-top-setting($range) {
  $i: 1;

  @while $i <=$range {
    .margin-top-#{$i * 10} {
      margin-top: $i * 10px;
    }

    $i : $i+1;
  }
}

@mixin spinner($size:27px, $color:#118992) {
  width: $size;
  height: $size;
  border: solid 2px transparent;
  border-top-color: $color;
  border-left-color: $color;
  border-bottom-color: $color;
  border-radius: 50%;
  animation: loading-bar-spinner 1s linear infinite;

  @keyframes loading-bar-spinner {
    0% {
      transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

@mixin positionCenterCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin font($size:16, $color:#333) {
  font-size: #{$size}px;
  color: $color;
  font-family: sans-serif;
  @content;
}

@mixin floatClear {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.block {
  display: block;
}

.hidden {
  display: none;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

$device_pc:600px;
$borderGray:#efefef;
$borderGray1 :#f7f7f7;
$fontGray:#a1a1a1;