@import './_common';

@include margin-top-setting(20);

.wrap {
  width: $device_pc;
  margin: auto;
}


.coffee__list_box {
  position: relative;
  height: 600px;
  overflow-y: scroll;
  padding: 5px;
  border: 1px solid $borderGray;
  @include floatClear;
}

.coffee__search_info {
  @include positionCenterCenter;
  @include font(14, $fontGray);
  width: 100%;
  text-align: center;
}

.coffee__item_box {
  float: left;
  width: calc(100% / 2);
  padding: 10px;
}

.coffee__item_card {
  border: 1px solid $borderGray1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  }
}

.coffee__checkbox {
  &:checked~.coffee__item_card {
    border: 1px solid green;
  }
}

.coffee__item_img {
  width: 110px;
  height: 100px;

  &.large {
    width: 200px;
    height: 220px;
  }
}

.coffee__item_row {
  text-align: center;
}

.loading__box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: white;
}

.loading__bar {
  @include spinner;
  @include positionCenterCenter;
}

.modal__content_box {
  padding: 0 30px;
}

.modal__item_name {
  @include font(25, black) {
    font-weight: bold;
  }
}

.modal__item_price {
  @include font(20, #292929);
}

.modal__btn {
  opacity: 0.9;

  &.box {
    @include floatClear;
  }

  &.hot {
    color: $red;
    border: 1px solid $red;
  }

  &.iced {
    color: $blue;
    border: 1px solid $blue;
  }

  &.item {
    float: left;
    width: calc(100% / 2);

    &:hover {
      opacity: 1;
    }
  }
}

.modalDetail__row {
  margin-bottom: 10px;
}

.modal__input {
  &.temper:checked+.modal__btn {
    opacity: 1;
    color: white;

    &.hot {
      background: $red;
    }

    &.iced {
      background: $blue;
    }
  }
}

.modal-control {
  padding: 0 30px;
}

@media screen and (max-width:$device_pc) {
  .wrap {
    width: 100%;
  }
}