$device_pc:800px;

@mixin lock-screen-btn {
  display: inline-block;
  padding: 10px 15px;
  transition: .3s;
  border: 1px solid #ccc;

  &:hover {
    background: gray;
    color: white;
  }
}

@mixin margin-top-setting($range) {
  $i: 1;

  @while $i <=$range {
    .margin-top-#{$i * 10} {
      margin-top: $i * 10px;
    }

    $i : $i+1;
  }
}




.wrap {
  width: $device_pc;
  margin: auto;
}

.hidden {
  display: none;
}

.report__title {
  &.active {
    color: #ccc
  }
}

.report__list {
  &.item {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
}

.report__btn {
  &.active {
    color: green;
    background: white;
    border: 1px solid green;
  }
}

.report__screen {
  &.lock {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 50;
  }

  &.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.btn {
    @include lock-screen-btn;
  }
}

.report__author {
  &.box {
    text-align: right;
  }
}

@media screen and (max-width:$device_pc) {
  .wrap {
    width: 100%;
  }
}


@include margin-top-setting(20);