$device_pc : 800px;

body{
  background: #f0f0f0;
}
.wrap{
  width:$device_pc;
  margin: auto;
}


.todoList{
  background: white;
  padding:50px;
  width:600px;
  margin: auto;
  box-shadow: 5px 5px 5px rgba(0,0,0,.1);
}
.todoList__item{
  border-bottom: 1px solid #ececec;
  cursor: pointer;
  transition: .3s;
  &:hover{
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
  }
  &:after{
    content:"";
    display: block;
    clear: both;
  }
  &:last-child{
    border-bottom: 0;;
  }
}

.todoList__check_label{
  display: inline-block;
  // border: 1px solid red;
  padding:5px;
  cursor: pointer;
  position: relative;
  &:after{
    content: "\2713";
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #0b6d6d;
    text-align: center;
    color:#0b6d6d;
  }
  &.read{
    &:after{
      background: #0b6d6d;
      content: "\2713";
      text-align: center;
      color: white;
    }
    &::before{
      // content: "\2713";
      // text-align: center;;
      // display: block;
      // position: absolute;
      // left:50%;
      // top:50%;
      // transform:translate(-50%,-50%);
      // width:20px;
      // height: 20px;
      // border-radius: 100%;
      // // border: 1px solid #0b6d6d;
      // color:white;
    }
  }

}
.todoList__delete_icon{
  display: inline-block;
  // border: 1px solid red;
  padding:9px 5px;
}

.todoList__text,.todoList__control_box{
  float: left;
}
.todoList__text{
  width:80%;
  padding: 10px 0px;
  transition: .3s;
  &.read{
    text-decoration: line-through;
    opacity: .5;
  }
}
.todoList__control_box{
  width:20%;
  text-align: right;
}

.todoList__default_item{
  text-align: center;
  color: #a09d9d;
}
.todoList__check_box{
  visibility: hidden;
}


@media screen and (max-width:$device_pc){
  .wrap{
    width:100%;
  }
}


@mixin margin-top-setting($range) {
  $i: 1;
  @while $i <= $range {
    .margin-top-#{$i * 10} {
      margin-top: $i * 10px;
    }
    $i : $i+1;
  }
}

@include margin-top-setting(20);