*{
  padding:0;
  margin: 0;
}

.box{
  /* display: inline-block; */
  width: 200px;
  height: 200px;
  border: 1px solid gray;
  /* margin: 20px; */
  padding:10px;
}

.box_bottom{
  /* margin-top: 40px; */
}

.index_section.top{
  margin-bottom: 20px;
}


/* 
 Block Element 일때만 일어납니다.
 마진 병합 현상
*/



.test_box1{
  width: 200px;
  height: 200px;
  border: 1px solid purple;
  padding:20px 30px 50px 10px;
  /* 위 오른쪽 아래 왼쪽 (시계) */
  padding:20px 30px;
  /* 위 아래, 양옆 (인자가 2개일떄) */
  padding:20px 30px 50px;
  /* 위 양옆 아래(인자가 3개일떄) */
  padding: 50px;
  /* 4개의 면(인자가 1개일떄) */
}

.btn{
  padding:5px 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  background: blue;
  color: white;
}

.height_box{
  /* height: 200px; */
  /* min-height: 200px; */
  /* max-height: 100px; */
  /* min-width: 200px;
  width:200px;
  max-width:200px; */
  border: 1px solid gray;
}

.font__p{
  /* text-align: justify; */
  letter-spacing: 10px;
  line-height: 30px;
  text-shadow: 3px 3px 3px grey;
}
.font__link{
  text-decoration: none;
  color: black;
}
.font__link:hover{
  text-decoration: underline;
  color: blue;
}

/* // 가상 선택자. */


.mousehover__box{
  width:200px;
  height: 200px;
  border: 1px solid gray;
  transition: 0.5s;
}
.mousehover__box:hover{
  background: brown;
  border: 3px dashed white;
  border-radius: 100%;
  opacity: .5;
}

.shadow__box{
  width: 200px;
  height: 200px;
  border: 1px solid rgba(128, 128, 128, 0.541);
  box-shadow: 5px 5px 5px gray;
  margin: 10px;
  border-radius: 5px;
}