$device_pc:600px;

@mixin margin-top-setting($range) {
  $i: 1;

  @while $i <=$range {
    .margin-top-#{$i * 10} {
      margin-top: $i * 10px;
    }

    $i : $i+1;
  }
}

@include margin-top-setting(20);

@mixin spinner($size:27px, $color:#118992) {
  width: $size;
  height: $size;
  border: solid 2px transparent;
  border-top-color: $color;
  border-left-color: $color;
  border-bottom-color: $color;
  border-radius: 50%;
  animation: loading-bar-spinner 1s linear infinite;

  @keyframes loading-bar-spinner {
    0% {
      transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

.padding-none {
  padding: 0;
}

.margin-none {
  margin: 0;
}

.wrap {
  width: $device_pc;
  margin: auto;
}

.title {
  font-weight: bold;
}



.coffee__list_container {
  height: 600px;
  overflow-y: scroll;
  padding: 5px;
  border: 1px solid #efefef;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.coffee__list_box {
  width: calc(100% / 2);
  float: left;
  padding: 5px;
}

.coffee__card {
  position: relative;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
  padding: 20px;
  cursor: pointer;
  transition: .3s;
  text-align: center;

  &:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
  }
}

.coffee__check_label {
  display: block;
  cursor: pointer;
}

.coffee__check_box {
  position: absolute;
  right: 5px;
  top: 5px
}

.coffee__card_box {


  &.img {
    margin-bottom: 10px;
  }

}

.coffee__card_img {
  width: 110px;
  height: 100px;
}

.inputCheckbox:checked~.coffee__card {
  border: 1px solid green;
}

.loadingbar_bg {
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 100;

  &.load {
    display: none;
  }

  .loadingbar {
    position: absolute;
    left: 50%;
    top: 50%;
    @include spinner;
  }
}

.coffee__dtail_img {
  width: 200px;
  height: 230px;
}



@media screen and (max-width:$device_pc) {
  .wrap {
    width: 100%;
  }
}

@media screen and (max-width:500px) {
  .row.list {
    padding-top: 120px;
    padding-bottom: 50px;
  }

  .coffee__list_container {
    overflow: hidden;
    height: auto;
  }

  .header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background: white;
  }

  .orderBtn {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}