

.container{
  padding-top: calc(50px + #{$headerSize});
  background: gray;
  padding-bottom: 100px;

  background: linear-gradient(-135deg, rgb(0, 0, 0), rgb(119, 119, 119)) fixed;
}

.wrap{
  width:1040px;
  margin: auto;
  @include floatClear;
}
.row{
  @include floatClear;
}

.header__logo_box{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 40px;
  top: -2px;
}
.logo{
  width: 100%;
  height: 100%;
}
.header{
  position: fixed;
  top:0;
  width:100%;
  left: 0;
  height: $headerSize;
  z-index: 500;
  transition: .3s;
  padding: 15px;
  &.active{
    background: black;
    color: white;
  }
}
