@mixin positionWide {
  position: absolute;
  widtH:100%;
  height: 100%;
  top:0;
  left: 0;
}

@mixin  positionDisable {
  position: relative;
  transform: none;
  top:0;
  left:0;
}
@mixin calcWidthfloat($n) {
  width:calc(100% / #{$n});
}
@mixin pp__btn() {
  background: transparent;
  border: 2px solid white;
  width: 100%;
  color: white;
  padding:10px 15px;
  border-radius: 5px;
  @include font(13px,'white');
  transition: .3s;
  &:hover{
    border: 2px solid aqua;
    color: aqua;
  }
}

@mixin  dotdotdot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@mixin setSpace($i:1px,$jump:2,$type:'top') {
  @while  $i <= $jump {
    .space-#{$type}-#{$i*$jump}{
      margin-#{$type}: (1px * $i) * $jump;
    }
    $i: $i+1;
  }
}

