$headerSize:70px;

$device_pc_wide: 1200px;
$device_pc: 1040px;
$device_tablet: 780px;
$device_mobile: 480px;


$aqua:#5FCEC0;
$deep_aqua:#1e8f80;
$shallow_gray:#c7c7c7;
$pink :#f50799;
$shallow_pink:#cc4498; 